@model TrendyMemes.Web.Areas.Posts.Viewmodels.PostsListViewModel;
<div class="container">
    <div class="row">
        @foreach (var post in Model.Posts)
        {
            <article class="card col-md-12 m-2">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <a asp-action="Details" asp-route-id="@post.Id">
                            @post.Title
                        </a>
                    </h2>
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aHVtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                    <p class="card-text">
                        @foreach (var tag in post.Tags)
                        {
                            <a asp-controller="Tags" asp-action="Details" asp-route-id="@tag.Id">
                                @tag.Name&nbsp;
                            </a>
                        }
                    </p>
                    <p class="card-text">
                        @post.Score
                    </p>
                </div>
            </article>
        }
    </div>
</div>
