@model TrendyMemes.Web.Areas.Posts.ViewModels.PostDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12 row-md-12">
            <h2 class="card-title text-center">
                @Model.Title
            </h2>
            <img class="card-img-top" src="@Model.ImagePath" alt="Card image cap">
            <p class="card-text">
                Tags:
                @foreach (var tag in Model.Tags)
                {
                    <a asp-action="ByTagId" asp-route-id="@tag.Id"> @tag.Name </a>
                }
            </p>
        </div>
    </div>
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="Comments" asp-action="Create" method="post" class="w-100 card-body border m-2">
                @* <span asp-validation-for="Content" class="text-danger"></span> *@
                <textarea name="Content" placeholder="Type your comment here" rows="3" class="w-100 border-0"></textarea>
                <input type="hidden" name="PostId" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Post comment</button>
                @* <button type="reset" class="btn btn-danger">Clear</button> *@
                @* Posting as @User.Identity.Name *@
            </form>
        }
        @foreach (var comment in Model.Comments)
        {
            <div class="w-100 border card-body m-2">
                <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@comment.AuthorId">
                    <h6 class="h6"> @comment.AuthorUsername </h6>
                </a>
                <p>@comment.Content</p>
            </div>
        }
    </div>
</div>
