@using TrendyMemes.Web.Areas.Posts.ViewModels.Posts
@using TrendyMemes.Web.Areas.Posts.ViewModels.Comments
@model PostDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12 row-md-12">
            <h2 class="card-title text-center">
                @Model.Title
            </h2>
            <img class="card-img-top" src="@Model.ImagePath">
            <p class="card-text">
                <span> Author:
                    <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">
                        <span> @Model.AuthorUsername </span>
                    </a>
                </span>
                <span> Tags:
                    @foreach (var tag in Model.Tags)
                    {
                        <a asp-action="ByTagId" asp-route-id="@tag.Id"> @tag.Name </a>
                    }
                </span>
            </p>
            <div class="row">
                @await Html.PartialAsync("_VotingPanel", Model)
            </div>
        </div>
    </div>
    @if (User.IsInRole("Administrator"))
    {
        <div class="row">
            @await Html.PartialAsync("_AdminPanel", Model)
        </div>
    }
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            @await Html.PartialAsync("_CommentCreateForm", new CommentCreateInputModel{ PostId=Model.Id })
        }
        @foreach (var comment in Model.Comments)
        {
            @await Html.PartialAsync("_CommentsList", comment)
        }
    </div>
</div>
