@model TrendyMemes.Web.Areas.Posts.ViewModels.PostsListViewModel;
<div class="container-fluid">
    <div class="row">
        @foreach (var post in Model.Posts)
        {
            <article class="card col-md-12 m-2">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <a asp-action="Details" asp-route-id="@post.Id">
                            @post.Title
                        </a>
                    </h2>
                    <a asp-action="Details" asp-route-id="@post.Id">
                        <img src="@post.ImagePath" alt="Post image" class="card-img-top" />
                    </a>
                    <p class="card-text">
                        Tags:
                        @foreach (var tag in post.Tags)
                        {
                            <a asp-action="ByTagId" asp-route-id="@tag.Id">
                                @tag.Name
                            </a>
                        }
                    </p>
                    <div class="row">
                        <a asp-controller="Votes" asp-action="Upvote" asp-route-id="@post.Id" class="col-md-2 btn btn-success" onclick="return false;">Upvote</a>
                        <h3 class="col-md-2 text-center card-text @(post.Score>0?"text-success":"text-danger")"> @post.Score </h3>
                        <a asp-controller="Votes" asp-action="Downvote" asp-route-id="@post.Id" class="col-md-2 btn btn-danger" onclick="return false;">Downvote</a>
                    </div>
                </div>
            </article>
        }
    </div>
</div>
