@model TrendyMemes.Web.Areas.Posts.ViewModels.PostsListViewModel;
<div class="container">
    <div class="row">
        @foreach (var post in Model.Posts)
        {
            <article class="card col-md-12 m-2">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <a asp-action="Details" asp-route-id="@post.Id">
                            @post.Title
                        </a>
                    </h2>
                    <img class="card-img-top" src="@post.ImagePath" alt="Card image cap">
                    <p class="card-text">
                        @foreach (var tag in post.Tags)
                        {
                            <a asp-action="ByTagId" asp-route-id="@tag.Id">
                                @tag.Name
                            </a>
                        }
                    </p>
                    <p class="card-text">
                        @post.Score
                    </p>
                </div>
            </article>
        }
    </div>
</div>
